@model IEnumerable<QuanLyPhatThuong_ToDanPho_1.Models.tb_PhanThuong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPhanThuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TriGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tb_LoaiPhanThuong.TenLoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhanThuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DVT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TriGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tb_LoaiPhanThuong.TenLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
